/*body{*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	min-height: 100vh;*/
/*	font-family: 'Jost', sans-serif;*/
/*	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);*/
/*}*/
.main{
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  	/*width: 60%;*/
  	border: 3px solid #fd9100;
  	padding: 10px;
	width: 350px;
	height: 500px;
	background: #ff0000;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.signup-page-login-link{
	padding-top: 10px;
	padding-left: 60px;
    margin-top: 50px;
	text-decoration: none;
	color: #fd5f00;
    /*margin-left: 50px;*/
}

label{
	color: #fd5f00;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #ffffff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #fd6900;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #fccc00;
}
.login{
	margin-top: 50px;
	padding-top: 100px;
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #fd5f00;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

a .login-page{
	padding-top: 10px;
	padding-left: 60px;
    border-left-width: 50px;
    margin-left: 65px;
    margin-top: 30px;
}
.col-md-8{
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.profile-picture{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
	border: 5px;
	border-radius: 40px;
}

textarea{
	height: 530px;
	width: 414px;
}
