{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'app.css' %}">
        <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{#        <link rel="stylesheet" type="text/css" href="{% static '/static/blog/register.css' %}">#}
        <link rel="stylesheet" type="text/css" href="{% static 'user/register.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'edit-user-info.css' %}">
        <link href="{% static 'blog/custom.js' %}">
        {% block header_reference %}{% endblock %}
    </head>

<body>
<header id="main-navigation">
    <h1><a href="{% url 'home_page' %}">GamerMani</a></h1>
    <nav>
        <a href="{% url 'home_page' %}">Home</a>
        <a href="{% url 'posts-page' %}">All Posts</a>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'register_page' %}">Signup/Login</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'user_panel_dashboard' %}">userpanel</a>
        {% endif %}

    </nav>
</header>
{% block content %}{% endblock %}
{% block footer_references %}{% endblock %}
</body>
</html>